.classesMenu{
    /* border: 1px solid #dbdada; */
    height: 487px;
    width: 250px;
    padding: 0%;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.boxTitle2{
    border-bottom: 1px solid #085b0b;
    /* border-bottom: 1px solid #dbdada; */
    margin-top: 0%;
    border-top: 1px ;
    height: 30px;
    background-color: white;
}

.classRoomView{
    border: 1px solid #085b0b;
    /* border: 1px solid #dbdada; */
    height: 487px;
    width: 800px;
    padding: 0%;
    border-radius: 10px;
    margin-left: 30px;
    background-color: white;
}

.classRoom{
    background-image: url('/workspace/proyecto-E-Tutor/src/front/img/classRoom.JPG');
    height: 450px;
    width: 798px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-size: 798px 450px;
}

.overlayStudent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(11, 190, 92);
    border-radius: 50%;
}

.overlayStudentAvailable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: red;
    border-radius: 50%;
}

.tutor{
    height: 70px;
    width: 75px;}
    /* margin-top: 130px;
    margin-left: 350px;
    background-color: white; */
    /* text-align: center; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; */
    /* box-shadow: 0 0 20px rgb(247, 247, 247); */
    /* box-shadow: 0px 0px 15px 10px #03f;
} */

.salonTutor{
    position: relative;
    width: 50%;
    height: 70px;
    width: 75px;
    margin-top: 130px;
    margin-left: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px #03f;
}

.overlayTutor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #03f;
    border-radius: 40%;
  }

  .salonTutor:hover .overlayTutor {
    opacity: 1;
  }

.student-1{
    height: 65px;
    width: 70px;}
    /* margin-top: 205px;
    margin-left: 215px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; */
    /* border: 2px solid #085b0b; */
    /* box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.salonStudent-1{
    height: 65px;
    width: 70px;
    margin-top: 205px;
    margin-left: 215px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-1:hover .overlayStudent {
    opacity: 0.9;
}


/* .student-2{
    height: 65px;
    width: 70px;
    margin-top: 280px;
    margin-left: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-2{
    height: 65px;
    width: 70px;
}

.salonStudent-2{
    height: 65px;
    width: 70px;
    margin-top: 280px;
    margin-left: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-2:hover .overlayStudent {
    opacity: 0.9;
}

/* .student-3{
    height: 65px;
    width: 70px;
    margin-top: 355px;
    margin-left: 77px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-3{
    height: 65px;
    width: 70px;
}

.salonStudent-3{
    height: 65px;
    width: 70px;
    margin-top: 355px;
    margin-left: 77px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-3:hover .overlayStudent {
    opacity: 0.9;
}

/* .student-4{
    height: 65px;
    width: 70px;
    margin-top: 205px;
    margin-left: 355px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-4{
    height: 65px;
    width: 70px;
}

.salonStudent-4{
    height: 65px;
    width: 70px;
    margin-top: 205px;
    margin-left: 355px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-4:hover .overlayStudent {
    opacity: 0.9;
}

/* .student-5{
    height: 65px;
    width: 70px;
    margin-top: 280px;
    margin-left: 355px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-5{
    height: 65px;
    width: 70px;
}

.salonStudent-5{
    height: 65px;
    width: 70px;
    margin-top: 280px;
    margin-left: 355px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-5:hover .overlayStudent {
    opacity: 0.9;
}

/* .student-6{
    height: 65px;
    width: 70px;
    margin-top: 355px;
    margin-left: 357px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-6{
    height: 65px;
    width: 70px;
}

.salonStudent-6{
    height: 65px;
    width: 70px;
    margin-top: 355px;
    margin-left: 357px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-6:hover .overlayStudent {
    opacity: 0.9;
}

/* .student-7{
    height: 65px;
    width: 70px;
    margin-top: 205px;
    margin-left: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-7{
    height: 65px;
    width: 70px;
}

.salonStudent-7{
    height: 65px;
    width: 70px;
    margin-top: 205px;
    margin-left: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-7:hover .overlayStudent {
    opacity: 0.9;
}

/* .student-8{
    height: 65px;
    width: 70px;
    margin-top: 280px;
    margin-left: 565px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
} */

.student-8{
    height: 65px;
    width: 70px;
}

.salonStudent-8{
    height: 65px;
    width: 70px;
    margin-top: 280px;
    margin-left: 565px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 15px 5px rgb(11, 190, 92);
}

.salonStudent-8:hover .overlayStudent {
    opacity: 0.9;
}

.student-9{
    height: 65px;
    width: 70px;
    margin-top: 355px;
    margin-left: 638px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 5px 10px rgb(212, 6, 6);
    color: red;
    font-size: 15px;
}

.studentAvailable-9{
    height: 65px;
    width: 70px;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 15px;
}

.salonStudent-9{
    height: 65px;
    width: 70px;
    margin-top: 355px;
    margin-left: 638px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 5px 10px rgb(212, 6, 6);
    color: red;
    font-size: 15px;
}

.salonStudent-9:hover .overlayStudentAvailable {
    opacity: 0.9;
}

.scheduleClassFondo{
    background-image: url(https://slidechef.net/wp-content/uploads/2021/10/Math-Background-for-PPT.jpg);
    opacity: 0.95;
    background-size: 900px 630px;
    height: 630px;
}

.registerButton{
    margin-top: 25px;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
}

.aboutClass{
    margin-top: 30px;
    font-size: 16px;
    text-align: left;
}

.aboutTitle{
    margin-top: 80px;
    font-size: 20px;
    text-align: left;
}

.usersIcon{
    text-align: left;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.textStudent {
    color: black;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}